@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

@font-face {
  font-family: "Beaufort-Bold";
  src: url("/assets/font/Beaufort-Bold.woff2") format("woff2"),
    url("/assets/font/Beaufort-Bold.woff") format("woff");
}

@font-face {
  font-family: "Beaufort-Italic";
  src: url("/assets/font/Beaufort-Italic.woff") format("woff2"),
    url("/assets/font/Beaufort-Italic.woff") format("woff");
}

@font-face {
  font-family: "Beaufort-Regular";
  src: url("/assets/font/Beaufort-Regular.woff2") format("woff2"),
    url("/assets/font/Beaufort-Regular.woff2") format("woff");
}

@font-face {
  font-family: "BeaufortHeavy-Italic";
  src: url("/assets/font/45f2e985864493188d6948519fea3ad7.woff2")
      format("woff2"),
    url("/assets/font/45f2e985864493188d6948519fea3ad7.woff") format("woff");
}

@font-face {
  font-family: "Beaufort-Light-Italic";
  src: url("/assets/font/8d05ae32a9311898bb1272f2f3b8f14c.woff2")
      format("woff2"),
    url("/assets/font/8d05ae32a9311898bb1272f2f3b8f14c.woff") format("woff");
}

html {
  --azul: #57d0cc;
  --preto-brackground: #151515;
  --branco-text: #f9f9f9;
  --cinza-text: #9d9d9d;
  --vermelho-texto: #be2525;
}

* {
  background-color: var(--preto-brackground);
  margin: 0;
  padding: 0;
  font-family: "BeaufortHeavy-Italic", sans-serif;
}

.subtitle-text,
.warning-text,
.subtitle-text-2nd {
  font-family: "Beaufort-Light-Italic", sans-serif;
}

.container-fluid p,
nav .container-fluid a,
.subtitle-text-2nd {
  color: var(--branco-text) !important;
}

.navbar-brand {
  font-size: 5rem;
}

.container-fluid h1:nth-child(1n),
nav .container-fluid span {
  color: var(--azul);
}

.row .subtitle-text {
  color: var(--cinza-text);
}

.warning-text {
  color: var(--vermelho-texto);
}
